@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-sf-pro {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-[#53232A];
  }
}

#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  overflow: visible;
}


@media (pointer: fine) {
  body,
  body * {
    cursor: none !important;
  }

  .cursor-visible,
  .cursor-visible * {
    cursor: auto !important;
  }

  .cursor-visible a,
  .cursor-visible button {
    cursor: pointer !important;
  }
}
